:root {
  --main-bg-color:#FFFFFF;
  --width-100:100%;
  --heading-black:#000000;
  --heading-white:#FFF;
  --bg-black:#000000;
  --main-bg-shade-1:#ECECEC;
  --main-bg-shade-2:#CBCBCB;
  --main-border-shade:#BDBDBD;
  --status-color-green:#05A93E;
  --status-color-yellow:#FFBB3B;
  --status-color-blue:#0088CD;
  --status-color-orange:#EA7001;
  --status-color-red:#ff0000ee;
}
html {
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    font-style: normal;
    color: #000000;
    line-height: 1.15;
}
.navbar-brand {
    color: #777;
    height: auto;
}

.navbar{
    background: var(--main-bg-color);
}
.Form-input{
    width:var(--width-100);
} 
.navbar-container{
    width: 100%;
}


#app > div {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
}

/*PM dash Board Css Changes*/
#select_drop_down_menu>div:nth-of-type(1){
  min-height: 32px;
  height:32px;
  border-radius: 0rem !important;
}
#select_drop_down_menu>div:nth-of-type(1)>div{
  font-weight:bold;
  font-size:0.923rem;
}
/*Captial Project DashBoard Css Changes*/
#drop_Down_Menu_CD>div:nth-of-type(1)
{
  border-radius: 0rem !important;
  min-height:32px;
  height:32px;
  
}
#drop_Down_Menu_CD>div:nth-of-type(1)>div:nth-child(2)>span
{
  margin-top: 5px;
}
/* #model_Top{
  top:7% !important;
} */
.rowColor{
  background-color: rgba(0, 0, 0, 0.16) !important;
}
.selectDropDown > div:nth-of-type(1){
  border-radius: 0rem !important;
}
.selectDropDown{
  width:260px;
}
#drop_Down_Menu_CD{
  font-weight:bold;
}
.select-size
{
  width:55%;
}
/*AdvanceFilter  css Changes*/
#start_Date>.SingleDatePicker >div:nth-of-type(1)
{
  border-radius:0rem !important;
  border-bottom: 2px solid black !important;
}

#end_Date>.SingleDatePicker >div:nth-of-type(1)
{
  border-radius:0rem !important;
  border-bottom: 2px solid black !important;
}

#Work_Order_Status>.col-md-12>div:nth-of-type(1)
{
  border-radius:0rem !important;
  border-bottom: 2px solid black !important;
}
/*Service Catalog chanages*/
/* #rate_Type> div:nth-of-type(1){
  border-radius: 4px !important;
  height: 32px;
}
#work_Type >div:nth-of-type(1){
  border-radius: 4px !important;
  width: "248px";
  height: "30px"} */

.main-content{
    margin-left: 0;
    min-height: 100%;
    padding: 0;
     float: left;
    width: 100%;
}
.main-content-inner{
        float: left;
    width: 100%;
}

.page-content{
    background-color: #FFF;
    position: relative;
    margin-top: 5px;
    padding: 20px;
    min-height: 100%;
     float: left;
    width: 100%;
}

.cus-nav-container {
        background-color: #fff;
    border-radius: 4px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 220px;
    word-wrap: break-word;
}

ul,
li {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  text-decoration: none;
  color: #ED3E44;
}

button{
    border-radius: 625rem !important;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

label{
    font-weight: bold !important;
}

.cus-nav-item {
  padding-top: 1em;
  display: inline;
}

.cus-nav-item-dropdown {
  position: relative;
}

.cus-nav-item-dropdown:hover > .cus-dropdown-menu {
  display: block;
  opacity: 1;
}
.btn-border{
  border-radius: 0rem !important;
}

.cus-dropdown-trigger {
  position: relative;
}
.cus-dropdown-trigger:focus + .cus-dropdown-menu {
  display: block;
  opacity: 1;
}
.cus-dropdown-trigger::after {
  content: "›";
  position: absolute;
  color: #ED3E44;
  font-size: 24px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -10px;
  right: 20px;
}
.cus-menu-item {
  padding-top: 1em;
  display: inline;
}

.cus-menu-item-dropdown {
  position: relative;
}
.cus-menu-item-dropdown:hover >.cus-menu-dropdown{
    display: block;
    opacity: 1;
}
.cus-menu-trigger{
    position: relative;
}
.cus-menu-trigger:focus + .cus-menu-dropdown{
  display: block;
  opacity: 1;
}
.cus-nav-item-dropdown:hover > .cus-dropdown-menu {
  display: block;
  opacity: 1;
}

.cus-dropdown-desc_item{
  text-align: left !important;
  border-bottom: 1px solid black !important;
  padding: 10px !important;
  cursor: default !important;
}
    /* margin-bottom: 0px;
}
/*.cus-menu-trigger::after {
  content: "›";
  position: absolute;
  color: #ED3E44;
  font-size: 24px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -10px;
  right: -15px;
}*/

.cus-menu-dropdown{
background: #FAFAFA;
  display: inline-block;
  text-align: right;
  position: fixed;
  top: 1.5rem;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 250px;
  z-index: 6;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.cus-menu-dropdown-item{
    cursor: pointer;
  text-align: center;
  background: #FAFAFA;
  margin-bottom: 0px;
}
.cus-menu-dropdown-item:hover {
    background: #FAFAFA;
}
.cus-menu-dropdown-item > li{
    padding: 5px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}

.cus-menu-dropdown-item > li:hover{
    border-left: 3px solid black
}
.cus-menu-dropdown a {
  color: black;
}
.cus-lable{
        font-size: 12px;
    font-weight: 600;
    color: black;
    float: left;
}

.cus-dropdown-menu {
  background: #FAFAFA;
  display: inline-block;
  text-align: right;
  position: fixed;
  top: 2.0rem;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 250px;
  z-index: 6;
      right: 20px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.cus-dropdown-menu a {
  color: black;
}

.cus-dropdown-menu-item {
  cursor: pointer;
  text-align: center;
  background: #FAFAFA;
  margin-bottom: 0px;
}
.cus-dropdown-menu-item:hover {
    background: #FAFAFA;
}

.cus-dropdown-menu-item > li{
    padding: 7px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}

/* .cus-dropdown-menu-item > li:hover{
    border-left: 3px solid black
} */
.cus-market-menu-item > li{
    padding: 10px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}

.cus-market-menu-item > li:hover{
    border-left: 4px solid black
}
.cus-market-item {
  display: inline;
}

.cus-market-item-dropdown {
  position: relative;
}
.cus-market-item-dropdown:hover > .cus-market-menu  {
  display: block;
  opacity: 1;
}

.cus-market-trigger {
  position: relative;
}
.cus-market-trigger:focus + .cus-market-menu  {
  display: block;
  opacity: 1;
}
.cus-menu-arrow::after {
  content: "›";
  position: absolute;
  color: #ED3E44;
  font-size: 20px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -10px;
  margin-left: 10px;
  right: 0px;
}

.cus-market-arrow::after {
  content: "›";
  position: absolute;
  color: #ED3E44;
  font-size: 20px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -5px;
  margin-left: 10px;
}

.cus-market-menu {
    background: #FAFAFA;
  display: inline-block;
  text-align: right;
  position: fixed;
  top: 6.0rem;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 250px;
  z-index: 6;
      right: 35px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.cus-market-menu a {
  color: black;
}

.cus-market-menu-item:hover {
    background: #FAFAFA;
}

.cus-market-menu-item {
  cursor: pointer;
  text-align: center;
  background: #FAFAFA;
  margin-bottom: 0px;
}
.Button--small{
  color: #FFF;
}
.Form-label > .Form-check{
    margin-top: 0px;
}

.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.Critical {
  background-color: #ff3c52 !important;
  text-align: left;
}

.Major {
  background-color: #f0aa0b !important;
  text-align: left;
}

.Minor {
  background-color: #e0df0e !important;
  text-align: left;
}

.Warning {
  background-color: #537cec !important;
  text-align: left;
}

.Indeterminate {
  background-color: #ff8ce7 !important;
  text-align: left;
}

.none {
  background-color: #14ec41  !important;
}

.Normal {
  background-color: #14ec41  !important;
}

.margin-top-bottom-10{
    margin:10px 0px;
}

.padding-10top-25bottom{
    padding:5px 0px 5px 0px;
}
.padding-10top{
  padding:10px 0px 0px 0px;
}
.go95-reset-date-link {
  font-size: small;
  text-decoration: underline;
  color: black;
}
.margin-left-right-50px {
  margin: 0 50px 0 50px;
}
.margin-right-15px {
  margin-right: 15px;
}

.font-weight-bold {
  font-weight: bold;
}

.font-color {
  color: rgb(182, 182, 182);
}

.go95-select-dropdown .SingleDatePicker {
  width: 75% !important;
}

.go95-select-dropdown .Select-control {
  width: 75% !important;
}

.go95-hr-line {
  border-top: 2px solid #bbbbbb !important;
}

.chips {
  background-color: white;
  color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  margin: 0 0.5rem 0 0;
  font-size: 1rem;
}

.ag-theme-balham .orange-row {
    background-color: sandybrown !important;
}

.ag-theme-balham .red-row {
  background-color: red !important;
}

.ag-theme-balham .lightcoral-left-border {
    border-left: 6px solid lightcoral !important;
}
.ag-header-cell-label .ag-header-icon.ag-sort-order {
  display: none
}
/*******************************************************************************************************/


.toggle_continer{
    width: 400px;
    height: 30px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2em;
    background-color: black !important;
}

.inner-container:first-child {
    background: #e9e9e9;
    color: #a9a9a9;
}
.inner-container:third-child {
    background: #e9e9e9;
    color: #a9a9a9;
}
.inner-container:second-child {
    background: #e9e9e9;
    color: #a9a9a9;
}

.inner-container-2 {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: .2em;
    background: dodgerblue;
    color: black;
    width:33.34%;
    border-radius: 50px;
    /*clip-path: inset(0 50% 0 0);*/
    transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
    width: 33.34%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
    background-color: #000000;
    font-weight: bold;
    /* margin-top: 0.5px; */
    font-size: x-small;
}

.toggle p {
    margin: auto;
    margin-top:8px;
}

.toggle:nth-child(1) {
    right: 132px;
}
.toggle:nth-child(3) {
    right: 1px;
}

.toggle__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
}
.toggleBack{
    /*clip-path: inset(0 0 0 50%) !important;*/
    background-color: white !important; 
    /* height: 94%; */
    /* margin-top: 0.5px; */
    /* margin-left: 1.5px; */
    z-index: 1;
}
.inner-container-2 > .toggle {
    width:100%;
}

.container-fluid {
  padding-bottom: 15px;
}

.padding-adjust {
  padding-top: 15px;
  padding-bottom: 2px;
  margin-top: 15px;
  border: 1px solid #CBCBCB;
}

.label-style{
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font: 600 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.9em;
}

.btnStyle {
  color: #fff;
  background-color: #000000;
  border-color: #CBCBCB;
}

.btnStyle:hover{
	border-color: #CBCBCB;
	
  color:#ccc;
  background: #666;
}

.line-style{
  background: grey;
}

.DateRangePicker_picker {
  z-index: 1000;
  line-height:1.1;
}
.DateInput{
  width: 40%;
}
.DateRangePickerInput__withBorder{
  border-radius: 0px;
  border: 1px solid white;
  border-bottom-color: rgb(158, 158, 158);
  height: 40px;
  margin-bottom: 5px;
}
.DateInput_input {
  line-height:28px;
  font: 500 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #000000;
  /* font-weight:400px;
  font-size:16px;
  line-height:28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
}

.text-style{
  text-align: center;
  font: 400 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.hideHr >div>div>div>hr{
  display: none;
}

.selectFieldOverrideDisabled >div>div>div>span{
  font: 500 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 }

 .selectFieldOverride >div>div>div>span{
  font: 500 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 }

 .selectFieldOverride >div>hr {
   display: none;
 }
 .selectFieldOverrideDisabled >div>hr {
  display: none;
}

.Select--multi .Select-value {
  background-color:#ECECEC;
  color: #000000;
  border: 1px solid #CBCBCB;
}

.Select .Select-aria-only{
  width: 0%;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  padding-left:10px !important;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #000000;
  font: 500 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.Select.is-disabled > .Select-control {
  background-color: #ECECEC;
}

.inlineError{
  position: relative;
  bottom: 2px;
  font-size: 12px;
  line-height: 12px;
  color: rgb(244, 67, 54);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 5px;
  font-style: italic;
}

.PresetDateRangePicker_button {
  position: relative;
  height: 100%;
  text-align: center;
  background: none;
  border: 2px solid rgb(0, 166, 153);
  color:rgb(0, 166, 153) !important;
  padding: 4px 12px;
  font: inherit;
  font-weight: 700;
  line-height: normal;
  overflow: visible;
  box-sizing: border-box;
  cursor: pointer;
}

.PresetDateRangePicker_button:hover {
  background: none;
  border: 2px solid rgb(0, 166, 153);
  color:rgb(0, 166, 153) !important;
}

.PresetDateRangePicker_button:active {
  outline: 0;
  background: rgb(0, 166, 153) !important;
  color:white !important;
}

@-moz-document url-prefix() { 
  .col-sm-12 {
    flex: 0 0 auto; 
  }
} 

/* ************************************************************************************************************ */

#cus-submarket-list{
  font-size: 12px;
  font-weight: 600;
}
.sn-image-tooltip {
  width: 250px;
  white-space : normal
}
.notification-action-wrapper {
  display: flex;
  justify-content: center;
}

.bulk-po-user-actions {
  display: grid;
  justify-content: center;
  align-content: space-between;
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  width: 8rem;
  color: black;
  height: 88%;
}
.bulk-po-user-actions-disable {
  display: grid;
  justify-content: center;
  align-content: space-between;
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  width: 8rem;
  color: darkgray;
  pointer-events: none;
  opacity: 50%;
  height: 88%;
}
.bulk-po-dashboard-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  /* margin: 20px; */
}

/* Dashboard WOPan column spacing customization */
.Grid .Col {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

/* Alternative: Target specific Bootstrap column classes */
.Grid .Col-md-2,
.Grid .Col-md-3,  
.Grid .Col-md-4 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}