.ace-nav input {
  margin-top: 5px !important;
}

.bootstrap-typeahead {
  margin-right: 10px !important;
}

.navbar-header {
  overflow: hidden;
  background-color: white;
  font-weight:bold;
}
@media (min-width: 375px) and (max-width: 849px) {
  .navbar-expand-lgs {
        height:10vh !important;
    }
   
}

.navbar-header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.subnav ,.subnav1{
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 1em;  
  border: none;
  outline: none;
  color: black;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight:bold;
  cursor:pointer;
}

.navbar-header a:hover, .subnav:hover .subnavbtn, .subnav:hover .vz-home-icon-link:hover, .subnav:hover .subnav-vendor-dash:hover{
  color: #D52B1E;
}

.subnavbtn-noColor, .subnavbtn-noColor:hover {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight:bold;
  cursor:pointer;
}

.subnav-content{
  display: none;
  /* position: absolute; */
  left: 0;
  background-color: white;
  border-top:1px solid #ccc;
  width: 100%;
  z-index: 1040;  
  padding-left: 1em;
  position: fixed;
  font-size: 1.1rem;
}

.subnav .dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 0px;
}

.dropdown-content{
  display:none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
}
.subnav:hover .subnav-content {
  display: block;
  border-bottom: 1px solid rgb(216, 218, 218);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.subnav-content>li>a{
  /* margin-top: 5px; */
  border-right: 1px solid #ccc;
  /* margin-bottom:6px; */
}

.sub-nav.disabled-link:hover + .subnav-content {
  display: none;
  cursor: not-allowed;
}

.subnav-content.hide-subnav {
  display: none !important;
}

.doc, .vid {
  margin-top: -5px;
}
.dropdown:hover .dropdown-content{
  display: block;
  color: #D52B1E;
}

.dropdown .fa-angle-down{
  font-size: 24px;
}

.subnav-content:hover {
  border-bottom:1px solid #ccc;
}

.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
  padding-top: 10px;
  margin-left: 0px;
}

.subnav-content > a{
  /* margin-top: 2px; */
  border-right: 1px solid #ccc;
  /* margin-bottom: 5px; */
}

.subnav-content a:hover, .dropdown span:hover, .dropdown-content li:hover {
  background-color: #eee;
  color: #D52B1E !important;
}

.subnav:hover .subnav-content {
  display: block;
  border-bottom: 1px solid rgb(216, 218, 218);
}

.subnav1:hover {
  display: block;
}
.list-content li{ 
  position: relative;
  line-height: 10px;
}

.list-content li a {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.subnav .subnavbtn a{
  padding: 0;
}

#avatar{
    background-size: 30px 30px;
    color: rgb(102, 102, 102);
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    height: 30px;
    line-height: 15px;
    text-align: center;
    text-indent: -9999px;
    text-shadow: rgb(255, 255, 255) 0px 1px;
    width: 30px;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.drop_overlay{
  position: fixed;
  inset: 0vh auto auto 0px;
  display: flex;
  width: 620px;
  z-index: 1000;
  flex-direction: column;
  border: 1px solid rgb(229, 229, 229);
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 16px 10px;
  padding: 10px;
  word-break: break-all;
  font-size: 1.2rem;
  overflow-y: auto;
  max-height: 400px;
}

.banner_div {
  position: relative;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: lightblue;
  margin-top: 12px;
  width: 584px;
}

.banner_text {
  color: black;
  margin-bottom: 0;
  padding: 3px;
}

.banner_close_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 14px;
  cursor: pointer;
  width: 19px;
  height: 19px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0;

}

/* 
@media only screen and (max-width: 1920px) and (min-height:1080px) and (max-height:1200px)
{.drop_overlay{ 
 
  transform: translate(102vh,3vh);
  
 }} 
 @media only screen and (max-width: 1920px) and (max-height: 1080px)
{.drop_overlay{ 
 
  transform: translate(113vh,3vh) !important;
  
 }}

@media only screen and (max-width: 1680px) 
{.drop_overlay{ 
  
  transform: translate(95vh,4vh);
  
 }}
 
 @media only screen and (max-width: 1600px) 
{.drop_overlay{ 
  
  transform: translate(76vh,3vh);
  
 }}

 @media only screen and (max-width: 1400px) 
{.drop_overlay{ 
  
  transform: translate(72vh,4vh);
  
 }} 

 @media only screen and (max-width: 1280px) and (min-height: 800px) and (max-height: 1024px) 
{.drop_overlay{ 
  
  transform: translate(58vh,4vh);
 
 }} 

 @media only screen and (max-width: 1280px) and (max-height: 800px) 
{.drop_overlay{ 
  
  transform: translate(74vh,4vh);
  
 }} 
 

 

 

 
  */

  .cus-user-info{
    display: flex;
    justify-content: flex-end
  }

#sub-market-container{
    max-height: 430px;
    overflow-y: auto;
    min-width: 20%;
}