.button-inactive{
    border: lightgrey;
    background-color: lightgrey;
    height: 3.2vh;
    width: 5vw;
    cursor: pointer;
    border-radius: 0px!important;
    color: black;
    font-weight: bold
}
.pmlist-header{
    height: 6vh;
    line-height: 6vh
}
.DateInput {
    width:100% !important;
}
.file_tag_designe{
    padding: 4px;
    color: #181717;
    border-radius: 17px;
    margin-left: 5px;
    border: 1px solid #181717;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    margin-top: 5px;
    font-size: 11px;
        background: #000;
  }
  .file_tag_designe:hover {
      box-shadow: 0 5px 3px rgba(0,0,0,0.12), 0 1px 7px rgba(0,0,0,0.24);
  }
  .file_tag_designe > a:hover{
    text-decoration: none;
  }
.disable-row{
    background-color: lightgray
}
.hover-card:hover{
    background-color: lightgray
}
.hover-card-closed:hover{
    background-color: lightgray
}
.hover-card{
    height:20vh;
    text-align: center;
    font-size: 15vh!important;
    border-bottom-width: 3px !important;
    border-bottom-color: #4BABD9 !important;
    border-bottom-style: solid;
}
.hover-card-closed{
    height:20vh;
    text-align: center;
    font-size: 15vh !important;
    border-bottom-width: 3px !important;
    border-bottom-color: orange !important;
    border-bottom-style: solid;
}
.button-active{
    border: black;
    background-color: black;
    height: 3.2vh;
    width: 5vw;
    cursor: pointer;
    border-radius: 0px!important;
    color: white;
    font-weight: bold
}
.title-div-style{
    border-bottom-width: 2px !important;
    border-bottom-color: black !important;
    border-bottom-style: solid;
}
.title-div-style-tower{
    border-bottom-width: 3px !important;
    border-bottom-color: black !important;
    border-bottom-style: solid;
    margin-bottom:4vh !important;
    padding-bottom:1vh !important;
}
.navigation-class{
    cursor:pointer;
}
.navigation-class:hover{
    cursor:pointer;
     border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}
.navigation-class-active{
    cursor:pointer;
     border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}
.fontLarge{
    font-size: 2.5vh;
}
.card-styles{
    background-color: #f6f6f6 !important;
    color:black !important;
    border-bottom-width: 5px;
    border-bottom-color: black;
    cursor: pointer;
}
.button-class{
    border-radius: 0 !important
}

 .percentage-div{
    border-color: #dbdbdb !important;
    border-width: 3px;
}
table.pm-list{
    table-layout: auto;
}
table.pm-list th {
    color:white !important;
    background-color: black !important;
    font-weight: bold;
    max-width: 30%;
    border-right: white 1px solid;
}

table.pm-list td {
    color:black;
    max-width: 30%;
    word-wrap: break-word;
    
}

.card-styles-div{
    width: 80%;
    margin: 0 auto;
}

tr.active-row{
    background: lightgray
}
td.no-border{
    border: none;
}

.dropzone-width{
    max-width: 100%
}

.disable-click{
    pointer-events:none
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: black ;
  border-color: black ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid black ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: black ;
  border-color: black;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: black
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

 .table-pmlist .thead-light th {
    color: black !important;
    font-weight: bold !important;
    font: 600 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-bottom-width: 2px;
    background-color: #f5f7f7;
    border-bottom: 1px solid #BDC3C7;
 }
 table.table-pmlist  .tbody-light tr {
     border-color:black;
    border-bottom-width: 2px;
}
.healthCheck #picky__button__button {
    background: white !important;
    color: black !important;
}
.MuiAccordionSummary-root.Mui-expanded {
    min-height: 25px !important;
}
.MuiAccordionSummary-content.Mui-expanded {
    margin: 0px !important;
}
.picky .picky__input{
    background-color: black !important;
    border-radius: 0px !important;
}
.summary-link-disable {
pointer-events: none;
color:lightgray;
line-height:7vh;
}
.summary-link-active {
cursor : pointer;
color: blue;
line-height:7vh;
}
.section-class {
    height: 10vh;
    line-height: 10vh;
    cursor: pointer;
}
.section-class:hover {
    height: 10vh;
    line-height: 10vh;
    background-color: lightblue
}
.active-div:hover {
    border-bottom-width: 3px !important;
    color: red;
    border-bottom-color: red !important;
    border-bottom-style: solid;
    background-color: lightblue
}
.disable-div{
    background-color: lightgray !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}
.active-div {
    cursor:pointer;
    color: red;
    border-bottom-width: 3px !important;
    border-bottom-color: red !important;
    border-bottom-style: solid;
}
.prev-next-class {
    cursor:pointer;
    font-weight: bold;
    font-size: 3vh;
    height: 6vh;
    line-height: 6vh;
}
.prev-next-class:hover {
    cursor:pointer;
    border-bottom-width: 3px !important;
    border-bottom-color: black !important;
    border-bottom-style: solid;
}
.prev-next-class-disable{
    background-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
    pointer-events:none;
    font-weight: bold;
    font-size: 3vh;
    height: 6vh;
    line-height: 6vh;
}

.add-site {
    max-width: 9%;
    flex: 0 0 9%;
}
.work-type {
    max-width: 40%;
    flex: 0 0 40%;
}
