.base_wrapper{
  margin-top: 10px;
  font-weight: bold;
  text-align: center
}
.border_box{
  border: 1px solid gray;
}

.widget_wrapper{
    margin-top: 5px;
    border: 1px solid #b8b8e4;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.content_box_outer{
    min-height: 85px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
    background-color: white;
    width: 100%;
    position: relative;
    border-left: 5px solid;
    border-top: 5px solid dimgray;
}

.content_box_footer{
  text-align: right;
  font-style: italic;
  position: absolute;
  right: 9px;
  bottom: 0;
  color: #9e9e9e;
}

.inverted-tag{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 30px solid red;
}

.workOrder_table_text{
  display: inline;
  color: #333;
  font-size: 15;
}

.form-element-box{
  border: 1px solid lightslategray;
  background: lightgray;
}

.form-element-box-label{
 font-weight: bold;
}

.row_top_space{
  margin-top: 10px
}

.text_trim{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
}


/* Float Shadow start */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* File Attachment */

.file_tag_designe{
  padding: 4px;
  color: #2196f3;
  border-radius: 17px;
  margin-left: 5px;
  border: 1px solid #2196f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: inline-block;
  margin-top: 5px;
  font-size: 11px;
}
.file_tag_designe:hover {
    box-shadow: 0 5px 3px rgba(0,0,0,0.12), 0 1px 7px rgba(0,0,0,0.24);
}
.remove_btn{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding-top: 0px;
  background: #ffffff;
  color: #cd040b !important;
  margin-left: 5px;
  border: 0px;
  top: 0px;
  position: relative;
  padding-left: 4px;
}

.file_tag_designe > a:hover{
  text-decoration: none;
}




.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    position: relative;
    min-height: 200px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content div.lt-tab-content-body {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 720px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}

.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #57b87b;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 16%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #57b87b;
}
.process-model > li > a:hover{
      color: #2196F3;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #57b87b;
}
.process-model li.active div.lt-tab-content-body,
.process-model li.visited div.lt-tab-content-body {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #57b87b;
}
.process-model li a {
    background: transparent;
}
.process-model > li.active > a,
.process-model > li.active > a:hover,
.process-model > li.active > a:focus{
  box-shadow: none !important
}

.process-model li div.lt-tab-content-body {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none;
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}
.site-detail-table, .site-access-table {
    font-family: "BrandFont-Text" !important;
    font-size: small !important;
}
.site-detail-table.ReactTable .rt-thead .rt-resizable-header-content, .site-access-table.ReactTable .rt-thead .rt-resizable-header-content {
    font-weight: bold;        
}
.siteDetailsSummary tbody tr td:nth-child(even){
    font-weight: normal;
}


@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}
